/* ------------------------共通css------------------------- */

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "jfdot";
    src: url(../font/jfdotfont/JF-Dot-Ayu18.ttf);
}

body {
    background: linear-gradient(180deg, rgba(74, 179, 255, 0.44) 0%, #003482 100%);
}

a:hover {
    opacity: .7;
}

p,
a,
h1,
h2,
h3,
h4 {
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    font-family: "jfdot";
}

@media screen and (max-width: 768px) {
    p,
    a,
    h1,
    h2,
    h3,
    h4 {
        font-size: 16px;
    }
}

h2 {
    font-size: 90px;
    line-height: 1;
    font-family: "jfdot";
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    h2 {
        font-size: 46px;
    }
}

/* .sub_title {
    margin-bottom: 60px;
}
#learn.sub_title {
    margin-bottom: 0;
} 
#contact.sub_title {
    margin-bottom: 0;
} */

.section {
    padding: 100px 0;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 50px 0;
    }
}

.dot {
    font-family: "jfdot";
}

@media screen and (max-width: 768px) {
    .sp-hide {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .pc-hide {
        display: none !important;
    }
}

.flex {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
}

.desc_text {
    margin-bottom: 60px;
}

a.button_link {
    display: flex;
    width: 240px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background: #00B3EC;

    position: relative;
    color: #333;
}
@media screen and (max-width: 768px) {
    a.button_link {
        margin: 0 auto;
    }
}

a.button_link:hover {
    opacity: .7;
}

.button_link:before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -9px;
}

.button_link:after {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    position: absolute;
    top: 50%;
    right: 26px;
    margin-top: -4px;
    transform: rotate(45deg);
}

.text_link {
    display: block;
    margin: 30px 0;
    text-decoration: underline;
}

.text_link:hover {
    opacity: .7;
}

/* ---------------------ここまで共通css---------------------------- */


/* scroll down */
.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 80px;
    left: 0;
    margin: auto;

    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/* for Scroll Fix Header */

.fix-header {
    line-height: 66px;
    top: -66px;
    /* 上に隠す鷹さ */
    left: 0;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    opacity: 0;
    /* 	最初読み込んだときは透過 */
    z-index: 1000;
    /*　他のアイテムに対して最上位のレイヤーになるように */
    /*	opacity: 0; */
    background: #01479D;
    font-weight: bold;
}


/* side_text */
.side_text {
    position: absolute;

    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .side_text {
        display: none;
    }
}

.border {
    border-top: 1px solid #fff;
}

/* style */


header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    background: #01479D;
    width: 100%;
}

nav a {
    color: #fff;
}


#kv {
    background: url(../img/kv.png) center;
    height: 100vh;
}

#kv .inner {
    position: relative;
    height: 100%;
    padding: 0 80px;
}

#kv .inner .title_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    #kv .inner .title_wrapper {
        width: 80%;
    }
}



.section_inner {
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

@media screen and (max-width: 768px) {
    .section_inner {
        padding: 0 20px;
    }
}

#about {
    background: url(../img/bg_youkoso.png) center;
}

#about .title {
    font-size: 60px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #about .title {
        font-size: 30px;
    }
}

#about .sub {
    font-size: 32px;
    margin: 120px 0 60px;
}

#about .sub2 {
    font-size: 32px;
    margin: 60px 0;
}

@media screen and (max-width: 768px) {
    #about .sub {
        font-size: 16px;
        margin: 30px 0;

    }

    #about .sub2 {
        font-size: 16px;
    }
}

.sec_image {
    position: absolute;
}

#about .sec_image {
    width: 400px;
    right: 0;
    bottom: 0px;
}
@media screen and (max-width: 768px) {
    #about .sec_image {
        width: 200px;
        right: 0;
        bottom: -90px;
    }  
}

#learn {
    background: url(../img/bg_learn.png) center;
}

#learn .flex {
    align-items: center;
}

#learn .left {
    width: 60%;
}

@media screen and (max-width: 768px) {
    #learn .left {
        width: 100%;
    }
}

#learn .right {
    width: 40%;
}

@media screen and (max-width: 768px) {
    #learn .right {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .desc_text {
        margin-top: 30px;
        margin-bottom: 0;
    }
}

.pickup .title {
    font-size: 36px;
    margin: 60px 0;
}

.pickup_wrapper {
    display: flex;
    align-items: center;
    gap: 0 30px;
}
@media screen and (max-width: 768px) {
    .pickup_wrapper {
        flex-direction: column;
    }
    .pickup_wrapper .right {
        width: 100%;
    }
}

#gallery .middle_shark {
    width: 70%;
}
@media screen and (max-width: 768px) {
    .middle_shark {
        width: 100%!important;
    }
    .small_shark {
        width: 100%!important;
    }
}

#gallery .middle_shark .image_wrapper {
    width: 70%;
}

#gallery .small_shark .image_wrapper {
    width: 200px;
}
@media screen and (max-width: 768px) {
    #gallery .small_shark .image_wrapper {
        width: 100px;
    }
}

#contact .left {
    width: 50%;
}

#contact .right {
    width: 50%;
}
@media screen and (max-width: 768px) {
    #contact .left {
        width: 100%;
    }
    
    #contact .right {
        width: 100%;
    } 
}

footer {
    background: url(../img/bg_footer.png) center;
    padding: 100px 30px 0px;
    position: relative;
}


.footer_title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
}

ul.footer_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.footer_nav li {}

ul.footer_nav li a {
    padding: 0 60px;
    border-right: 1px solid #fff;
}

@media screen and (max-width: 768px) {
    ul.footer_nav li a {
        padding: 0 10px;
    }
}

ul.footer_nav li:last-of-type a {
    border-right: none;
}

.copyright {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-top: 100px;
}


/*========= ページトップのためのCSS ===============*/

/*リンクの形状*/
#page-top a{
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    /* background: #003482; */
    color: #fff;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: none;
    font-size:0.6rem;
    transition:all 0.3s;
  }
  
  #page-top a:hover{
    background: #777;
  }
  
  /*リンクを右下に固定*/
  #page-top {
    position: fixed;
    right: 10px;
    bottom:10px;
    z-index: 2;
      /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
  }
  
  /*　上に上がる動き　*/
  
  #page-top.UpMove{
    animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
  /*　下に下がる動き　*/
  
  #page-top.DownMove{
    animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
    from {
      opacity: 1;
    transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
  }
